<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Users Blog Posts</title>
  </head>
  <body>
    <% @blogs.each do |blog| %>
      <div class="well">
        <h5><%= blog.vote_count %></h5>  <h3><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></h3>
        <p> <a href="/users/<%= blog.user.id %>" style="color: black">Posted by: <%= blog.user.user_name %></a></p>
      </div>
    <% end %>
  </body>
</html>
